body {
  padding: 0;
  margin: 0;

}
.addProcedimento-form {
  align-items: center;
  justify-content: center;
  height: 100vh;  
}

.addProcedimento-titulo {
  text-align: center;
  margin-bottom: 25px;
  background: #B2D8D3;

}


.addProcedimento-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
  margin-top: 5%;
}

.addProcedimento-form input {
  width: 55%;
  padding: 10px;
  margin: 11px;
  border: none;
  border-radius: 50px;
  background: #B2D8D3;

}

.addProcedimento-form button {
  width: 15%;
  border-radius: 50px;
  padding: 18px 5px;
  margin: 40px 0;
  background-color: #B2D8D3;
  cursor: pointer;

}

.descricao-textarea {
  width: 50%;
  height: 200px;
  background-color: #B2D8D3;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 20px;
  resize: none;


}

.textareaDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 70px;
  width: 90%;
}

.ant-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    background-color: #B2D8D3;
}

.buttonDiv {
  width: 57%;
}
