.leaflet-container {
  width: 100%;
  height: 100%;
}

.selection-alert {
  position: absolute;
  top: 10px;
  left: calc((100vw / 2) - 161px);
  z-index: 1000;
}

  .leaflet-top.leaflet-right {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .leaflet-top.leaflet-right .leaflet-control-attribution.leaflet-control {
    order: 1;
    position: fixed;
    bottom: 0;
  }
  .leaflet-top.leaflet-right .leaflet-control-layers.leaflet-control-layers-expanded.leaflet-control {
    order: 0;
  }

  .leaflet-top {
    position: relative;
  }
